@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
@import url('https://fonts.googleapis.com/css?family=Merienda');
/*html element start*/
body{
	background-color: #0a2f53;
	max-width: 1000px;
	margin: auto;
	font-family: 'Jim Nightshade', cursive;
	text-align: center;
	min-width: 960px;
	background-image: url("images/gravel1.png");
}

h1,h2,h3,h4,h5,h6{
	
	font-family: 'Merienda', cursive;
	color: #d7d7d7;
}

h1{
font-size: 2.1em;
font-style: italic;
}

p{
	color: #e7e7e7;
	font-size: 1.5em;
}	

nav{
font-size: 2.5em;
margin-top: 20px;
}

nav ul{
padding: 0px;
}
HTML
<nav>
    <ul>
        <li><a href= "index.html">home</a></li>
        <li><a href= "design.html">design</a></li>
        <li><a href= "process.html">process</a></li>
        <li> <a href="contact.html">contact</a></li>
        <li><a href= "faq.html">about</a></li>
        <li> <a href= "gallery.html">gallery</a></li>
    </ul>
</nav>		

nav li{
	display: inline;
	font-family: 'Jim Nightshade', cursive;
}

nav a:link{
	color: #e7e7e7;
	text-decoration: none;
	text-transform: capitalize;
	margin: 8px;
	margin-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

nav a:visited{
	color: #e7e7e7;
}

nav a:hover{
	color: #d7d7d7;
	border-bottom: 3px solid #e7e7e7;
	border-top: 3px solid #e7e7e7;
	font-style: italic;
}

nav a:active{
	color: #721115;
}

footer nav{
	font-size: 1.2em;
	float:left;
	margin-top: 0px;
	margin-left: -28px;
}

footer p{
	margin-right: 4px;
}

a:link{
	color: #e7e7e7;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: left;
}

a:visited{
	color: #e7e7e7;
}

a:hover{
	color: #d7d7d7;
	font-style: italic;
	text-decoration: underline;
}

a:active{
	color: #721115;
}
/*end html content*/

/*start home page*/
#banner{
	display: inline-block;
	margin: -10px;
	clear: both;
}

#logo{
	width: 720px;
	padding-top: 51px;
}

#login{
	width: 220px;
	float: right;
	height: 250px;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 20px;
	margin-left: 10px;
}

form{
	color: #e7e7e7; 
	margin-top: 64px;
	float: right;
	text-align: left;
	line-height: 2.2em;
}

button{
	text-align: left;
	clear: right;
	margin-right: 100px;
	font-style: italic;
}

#sign{
	padding-top:30px;
	text-align: left;
	
}

#dragon{
	max-width: 50%;
	float: right;
}

#intro{
	height: 578px;
}

footer p{
	font-size: 1em;
	font-style: italic;
	float: right;
	margin-top: 20px;
}
/*end home page*/

/*start design page*/
#explain{
	max-width: 450px;
	background-color: rgb(215,215,215);
	z-index:1;
	position: relative;
	margin-top: -400px;
	color: black;
	margin-bottom: 250px;	
	margin-left: 20px;
	opacity: .75;
	padding-left: 10px;
}

#placeholder{
	max-width: 280px;
	float: right;
	z-index: 2;
	text-align: left;
	color: black;
	position: relative;
	margin-top: -243px;
	padding-right: 20px;	
}
/*end design page*/

/*process page start*/
h2{
	text-align: left;
	font-size: 1.8em;
	margin-bottom: -15px;
}
/*process page end*/

/*faq page start*/
#archer{
	width: 240px;
	float: left;
	margin-right: 10px;
	padding-right: 30px;
	padding-bottom: 40px;
}

h3{
	text-align: left;
	margin-bottom: -10px;
	font-size: 1.5em;
}

#process{
	text-align: left;
	padding-bottom: 10px;
	font-size: 1.3em;
}

#content{
	text-align: left;
	padding-bottom: 35px;
	margin-left: 0px;
	font-size: 1.3em;
}
/*faq page end*/

/*contact page start*/
#connection{
	text-align: left;
	width: auto;
	margin:auto;
}

#connect{
	margin-top: 30px;
	padding-top: 50px;
}

textarea{
	min-width: 960px;
	min-height: 300px;
	overflow: scroll;
}

#button2{
	width: 100px;
	padding-left: 10px;
	margin-top: -20px;
}
fieldset{
	padding-bottom: 5px;
	margin-top:-5px;
}
/*contact page end*/

/*gallery page start*/

#pictures{
	display: inline-block;
	width: 1200px;
	clear: both;
}

figure{
	display: inline-block;
	width: 500px;
	height: 720px;
	padding: 20px;
	float: left;
	margin-left: -50px
}

figcaption{
	color: #e7e7e7;
	max-width: 500px;
	text-align: center;
	padding-left: 10px;
	font-size: 1.5em;
}

/*gallery page end*/